* {
  margin: 0;
}

body {
  --slack-color: #3f0e40;
  --slack-color-lighter: #49274b;
  --slack-color-darker: #350d36;

  --text-color: #ffffff;
  --text-color-darker: #a690a7;

  --active-item-color: #1164a3;
  --active-presence-color: #2bac76;

  overflow: hidden;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  color: #fff;
  padding: 1em;
  text-align: center;
}
